@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.main-page {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #f1d7c2, #78604d);
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
}

.login-box {
  width: 65%;
  height: 77%;

  /* background-color: white; */
  margin-top: 5%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  border: 5px solid rgb(246, 242, 242);
  border-radius: 25px;
}

.left-sidebox {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(248, 246, 247);

  width: 50%;
}
.aline-all-things {
  display: flex;
  flex-direction: column;
  /* background-color: darkgoldenrod; */
  padding: 10%;
}
.left-side-texts {
  /* margin-left: 3%; */
  margin-top: 5%;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.logo-box {
  /* background-color: cadetblue; */
  height: 10%;
  font-size: 35px;
  margin-top: 3%;
  width: 100%;
}

.display-text {
  font-size: 25px;
  /* background-color: hsl(0, 0%, 80%); */
}

.input-section {
  /* background-color: pink; */
  height: 30%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-text {
  font-size: 20px;
  color: #797676;
}
input {
  width: 85%;
  /* max-width: 400px; */
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 17px;
  margin-right: 10%;
  /* color: rgb(255, 255, 255) ; */
}

.button-section {
  height: 7%;
  /* background-color: #4CAF50; */
  display: flex;
  justify-content: space-evenly;
}

button {
  color: white;
  border-radius: 13px;
  padding: 10px;
  width: 75%;
  font-size: 18px;
  margin-left: 12%;
  background-color: rgb(120, 92, 72);
  border: none;
}
.forgot-password,
.sign-up {
  text-decoration: none;
}

.right-side-img-box {
  width: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  /* background-color: #c8f123; */
  background-image: url("./Images-of-Login/right-box-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
